@model IEnumerable<Stock_Management.Models.ViewModels.ProfitAndLossVM>

@{
    ViewBag.Title = "Profit and Loss Statement";
}

<h2>Profit and Loss Statement</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoldValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NetProfit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoldValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Profit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NetProfit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
